-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB


DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) NOT NULL,
  `mail` varchar(255) DEFAULT NULL,
  `on_flag` tinyint(1) NOT NULL DEFAULT 0,
  `s_key` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `tag_id` varchar(64) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mail_3` (`mail`),
  UNIQUE KEY `id` (`id`),
  UNIQUE KEY `tag_id` (`tag_id`),
  UNIQUE KEY `student_id` (`student_id`),
  KEY `mail` (`mail`),
  KEY `mail_2` (`mail`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

